@import '../../../styles/mixins';
@import '../../../styles/variables';

.header {
  background-color: $main;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  height: 60px;
  padding: 5px 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  @include desktop {
    height: 70px;
  }

  &__questLogo {
    display: inline-block;
    height: auto;
    max-height: 100%;
    vertical-align: middle;
    max-width: 100px;

    @include tablet {
      max-width: 150px;
    }
    @include desktop {
      max-width: 200px;
    }
  }

  &__title {
    color: $main-yellow;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    width: calc(100% - 110px);
    
    @include tablet {
      font-size: 22px;
      width: calc(100% - 160px);
    }
    @include desktop {
      font-size: 24px;
      width: calc(100% - 220px);
    }
  }
}