@import '../../../styles/variables';

.main-page {
  box-sizing: border-box;
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.loading {
  margin: 0 auto;
}

.full-width {
  margin: 0 5px;
  width: calc(100% - 10px);
}