<div class="saved-games">
  <mat-toolbar class="saved-games__header">
    <span class="saved-games__title">Сохраненные игры</span>
    <span class="saved-games__spacer"></span>
    <mat-select class="saved-games__filter" placeholder="Фильтр по домену" (selectionChange)="filterByDomain($event)">
      <mat-option>Все домены</mat-option>
      <mat-option *ngFor="let domain of domains"
          [value]="domain">
        {{ domain }}
      </mat-option>
    </mat-select>
  </mat-toolbar>
  <div class="saved-games__container">
    <mat-card *ngFor="let game of games"
        class="saved-games__game"
        (click)="selectGame(game)">
      <mat-card-header class="saved-games__game-header">
        <mat-card-title>{{ game.GameName }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="saved-games__game-content">
        <p>{{ game.StartTime | formatDateTime: 'short' }}</p>
        <p>{{ game.Domain }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
