@import '../../../styles/mixins';
@import '../../../styles/variables';

.gameTable {
  text-align: center;

  &__container {
    max-width: 100%;
    max-height: calc(100vh - 180px);
    overflow: auto;
  }
  &__table-container {
    display: table;
  }

  &__levelRow {
    margin-bottom: 10px;
    display: inline-flex;
    flex-basis: 100%;
  }
  &__levelName {
    border-bottom: 3px solid transparent;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      margin-left: 30px;
    }

    &--Logic {
      border-bottom-color: $amber;
    }
    &--Search {
      border-bottom-color: $blue;
    }
    &--Drive {
      border-bottom-color: $teal;
    }
    &--Agent {
      border-bottom-color: $brown;
    }
    &--Waiting {
      border-bottom-color: $blue-grey;
    } 
    &--dismised {
      color: $light-grey-a;
      border-bottom-color: $light-grey-a;
    }
  }
  &__mainData {
    white-space: nowrap;
  }
  &__stat {
    display: flex;
    margin: 10px 0;
    width: 100%;
    white-space: nowrap
  }
  &__team {
    padding: 4px;
    box-sizing: border-box;
    flex: 0 0 120px;
    white-space: normal;
    
    &--flex {
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  &__column-container {
    display: flex;
    flex-basis: 100%;
  }
  &__column {
    box-sizing: border-box;
    padding: 4px;
    flex: 0 0 120px;
    
    &--noPadding {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
    }

    &:last-child {
      margin-left: auto;
    }
  }
}