<div class="gameTable">
  <div class="gameTable__container" *ngIf="selectedTab">
    <div class="gameTable__table-container">
      <div class="gameTable__levelRow card-group">
        <level-card *ngFor="let level of levels"
            class="gameTable__levelName gameTable__levelName--{{ LevelType[level.type] }} card"
            [ngClass]="{
              'level-card--dismised': level.removed
            }"
            [levelInfo]="level"
            (levelTypeChange)="changeLevelType.emit({ type: $event, id: level.id})"
            (levelStateChange)="removeLevel.emit({ removed: $event, id: level.id})">
        </level-card>
      </div>
      <ng-container *ngIf="selectedTab === 'team'">
        <div class="gameTable__column-container">
          <div>
            <div class="gameTable__stat card-group" *ngFor="let team of teamList">
              <team-card *ngFor="let level of team.data"
                  class="card gameTable__team gameTable__team--inRow"
                  [removedLevel]="isLevelRemoved(level)"
                  [teamInfo]="level">
              </team-card>
            </div>
          </div>
          <div class="gameTable__column gameTable__column--noPadding">
            <team-card *ngFor="let team of finishList; index as idx"
                class="gameTable__team gameTable__team--flex"
                [place]="idx + 1"
                [teamInfo]="team">
            </team-card>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedTab === 'level'">
        <div class="gameTable__column-container">
          <ng-template ngFor let-level [ngForOf]="levelsStat">
            <div class="gameTable__column">
              <ng-template ngFor let-team [ngForOf]="level.data">
                <div class="gameTable__column">
                  <team-card class="gameTable__team"
                      [removedLevel]="isLevelRemoved(team)"
                      [teamInfo]="team">
                  </team-card>
                </div>
              </ng-template>
            </div>
          </ng-template>
          <div class="gameTable__column">
            <team-card *ngFor="let team of finishList; index as idx"
                class="gameTable__team"
                [place]="idx + 1"
                [teamInfo]="team">
            </team-card>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>