@import '../../../styles/variables';

.gameTable {
  text-align: center;

  &__container {
    max-width: 100%;
    max-height: calc(100vh - 180px);
    overflow: auto;
  }

  &__levelRow {
    margin-bottom: 10px;
    top: 0;
    white-space: nowrap;
  }
  &__levelName {
    display: inline-block;
    vertical-align: top;

    &:last-child {
      margin-left: 30px;
    }
  }
  &__mainData {
    white-space: nowrap;
  }
  &__stat {
    display: flex;
    margin: 10px 0;
    width: 100%;
    white-space: nowrap
  }
  &__team {
    padding: 4px;
    box-sizing: border-box;
    min-width: 120px;
    white-space: normal;
    
    &--flex {
      margin: 5px 0;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
  &__column-container {
    display: flex;
  }
  &__column {
    box-sizing: border-box;
    padding: 4px;
    min-width: 120px;
    
    &--noPadding {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    &:last-child {
      margin-left: 30px;
    }
  }
}