.gameTable {
  text-align: center;

  &__selector {
    margin: 0 auto 30px;
    max-width: 1000px;
    width: 100%;
  }
  &__selectorButton {
    width: 50%;
    text-align: center;
  }

  &__container {
    max-width: 100%;
    max-height: calc(100vh - 180px);
    overflow: auto;
  }

  &__levelRow {
    margin-bottom: 10px;
    white-space: nowrap;
  }
  &__levelName {
    color: #777;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    width: 120px;
  }
  &__mainData {
    white-space: nowrap;
  }
  &__stat {
    display: flex;
    margin: 10px 0;
    width: 100%;
    white-space: nowrap
  }
  &__team {
    box-sizing: border-box;
    padding: 4px;
    white-space: normal;
    flex: 0 0 120px;
  }
}