<div>
  <h4>Get Game Statistic</h4>

  
  <div *ngIf="gameData" class="gameTable">
    <div class="gameTable__levelRow">
      <div class="gameTable__levelName"
          *ngFor="let level of gameData.levels">
        #{{ level.level }}: {{ level.name }}
      </div>
    </div>
    <div class="gameTable__mainData">
      <div class="gameTable__levelStat"
          *ngFor="let level of gameData.teamData">
        <md-card class="gameTable__team"
            *ngFor="let team of level">
          <p class="gameTable__teamName"> {{ team.name }} </p>
          <p class="gameTable__teamTime"> {{ team.levelTime | formatDateTime: 'time' }} </p>
        </md-card>
      </div>
    </div>
  </div>
</div>
