@import '../../../styles/variables';

.team-card {
  min-height: 90px;
  padding: 8px;
  display: flex;
  flex-direction: column;

  &--extended {
    min-height: 100px;
  }

  &--dismised {
    background-color: $light-grey-e;
    color: $light-grey-a;
    opacity: 0.8;

    .team-card__additionalTime--bonus {
      color: $main-green;
    }
    .team-card__additionalTime--penalty {
      color: $light-red;
    }
  }

  &--timeout {
    &:before {
      border-bottom: 20px solid transparent;
      border-left: 20px solid transparent;
      border-top: 20px solid $main-green;
      content: "";
      height: 0;
      position: absolute;
      opacity: 0.8;
      right: 0;
      top: 0;
      width: 0;
    }
    &:after {
      content: "T";
      color: $main-light;
      font-size: 10px;
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }

  &--selected {
    background-color: $light-yellow;
  }

  &__bestTimeIcon {
    color: $amber;
    font-size: 16px;
    height: 16px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 16px;
  }

  &__name {
    flex: 1;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
  }
  &__timeout,
  &__duration,
  &__time,
  &__additionalTime {
    font-size: 11px;
    margin: 4px 0 0;
    text-align: center;
    word-break: break-word;
  }  
  &__additionalTime {
    &--bonus {
      color: $main-green;
      &:before {
        content: "бонус"
      }
    }
    &--penalty {
      color: $main-red;

      &:before {
        content: "штраф"
      }
    }    
  }
  &__timeout {
    color: $main-green;
  }
}