@import '../../../styles/variables';

.team-card {
  min-height: 80px;
  padding: 8px;
  display: flex;
  flex-direction: column;

  &--extended {
    min-height: 100px;
  }

  &--dismised {
    background-color: $light-grey-e;
    color: $light-grey-a;
    opacity: 0.8;

    .team-card__additionalTime--bonus {
      color: $light-green;
    }
    .team-card__additionalTime--penalty {
      color: $light-red;
    }
  }

  &--selected {
    background-color: $light-yellow;
  }

  &__bestTimeIcon {
    color: $alt-yellow;
    font-size: 16px;
    height: 16px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 16px;
  }

  &__name {
    flex: 1;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
  }
  &__duration,
  &__time,
  &__additionalTime {
    font-size: 11px;
    margin: 4px 0 0;
    text-align: center;
    word-break: break-word;
  }  
  &__additionalTime {
    &--bonus {
      color: $main-green;
      &:before {
        content: "бонус"
      }
    }
    &--penalty {
      color: $main-red;

      &:before {
        content: "штраф"
      }
    }    
  }
}