<div class="search-component">
  <mat-card>
    <form [formGroup]="urlForm"
        novalidate
        class="example-form"
        (submit)="sendRequest($event)">
      <mat-card-title>
        Вставьте URL описания игры или игровой статистики
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="search-component__url">
          <input matInput
            placeholder="URL игры"
            formControlName="urlInput">
          <mat-error *ngIf="urlForm.get('urlInput').hasError('pattern')">
            Адрес некоректный. Поддержываемые домены: *.en.cx и *.quest.ua.
          </mat-error>
          <mat-error *ngIf="urlForm.get('urlInput').hasError('required')">
            URL <strong>обязательный</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="search-component__buttons">
        <button mat-button type="submit" [disabled]="urlForm.invalid">Отправить</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>