<div class="game-page">
  <div class="game-page__header row align-items-center">
    <div class="col-8">
      <div class="game-page__viewSelector game-page__viewSelector--buttons btn-group">
        <label 
            class="btn game-page__viewButton"
            [ngClass]="{
              'btn-outline-primary': selectedView !== 'total',
              'btn-primary': selectedView === 'total'
            }"
            [(ngModel)]="selectedView" 
            btnRadio="total">
          Сумарная статистика
        </label>
        <label 
            class="btn game-page__viewButton" 
            [ngClass]="{
              'btn-outline-primary': selectedView !== 'level_new',
              'btn-primary': selectedView === 'level_new'
            }"
            [(ngModel)]="selectedView" 
            btnRadio="level">
          Обычная статистика
        </label>
        <label 
            class="btn game-page__viewButton"
            [ngClass]="{
              'btn-outline-primary': selectedView !== 'team',
              'btn-primary': selectedView === 'team'
            }"
            [(ngModel)]="selectedView" 
            btnRadio="team">
          Статистика по командам
        </label>
      </div>
      <mat-select 
          class="game-page__viewSelector game-page__viewSelector--select"
          floatPlaceholder="never"
          placeholder="Вид отображения"
          [(ngModel)]="selectedView"
          (change)="changeViewType($event)">
        <mat-option value="total">Сумарная статистика</mat-option>
        <mat-option value="level">Обычная статистика</mat-option>
        <mat-option value="team">Статистика по командам</mat-option>
      </mat-select>
    </div>
    <div class="col game-page__changesContainer text-right">
      <button class="game-page__refreshDataButton"
          mat-raised-button 
          color="accent"
          (click)="refreshData()">
        <i class="game-page__changesContainer-icon fa fa-refresh fa-lg" matTooltip="Обновить данные"></i>
        <span class="game-page__changesContainer-label">Обновить данные</span>
      </button>
      <span class="game-page__changesStatus" *ngIf="!changesStatus">Изменения не сохраненны</span>
      <button class="game-page__saveChangesButton" 
          *ngIf="!changesStatus" 
          mat-raised-button 
          color="primary"
          [disabled]="disableSaveButton"
          (click)="saveChanges()">
        <i class="game-page__changesContainer-icon fa fa-save fa-lg" matTooltip="Сохранить"></i>
        <span class="game-page__changesContainer-label">Сохранить</span>
      </button>
    </div>
  </div>
  <div class="full-width">
    <mat-spinner class="loading" *ngIf="loadData"></mat-spinner>
    <total-table *ngIf="!loadData && gameData && selectedView === 'total'"
        [levels]="gameData.stat.levels"
        [teamStat]="gameData.stat.dataByTeam"
        [finishResults]="gameData.stat.finishResults">
    </total-table>
    <game-table *ngIf="!loadData && gameData && selectedView !== 'total'"
        [levels]="gameData.stat.levels"
        [levelsStatRow]="gameData.stat.dataByLevelsRow"
        [finishList]="gameData.stat.finishResults"
        [teamsStat]="gameData.stat.dataByTeam"
        [selectedTab]="selectedView"
        (changeLevelType)="updateLevel($event)"
        (removeLevel)="removeLevelFromStat($event)">
    </game-table>
  </div>
</div>