$nav-button-color: #00838F;

$main-blue: #002a5e;
$light-blue: #004699;
$dark-blue: #001D3F;

$main-yellow: #907000;
$light-yellow: #E9B600;
$alt-yellow: #BB9200;
$dark-yellow: #614C00;

$main-red: #BB4300;
$light-red: #E95400;

$main-green: #005E44;
$light-green: #00996F;

$main-light: #fff;

$main-dark: #000;
$main-grey: #333;
$middle-grey: #888;
$light-grey-a: #aaa;
$light-grey-c: #ccc;
$light-grey-e: #eee;
