$nav-button-color: #00838F;

$main: #3949ab;
$light-main: #6f74dd;
$dark-main: #00227b;

$main-yellow: #fdd835;
$light-yellow: #ffff6b;
$dark-yellow: #c6a700;

$main-red: #e53935;
$light-red: #ff6f60;

$main-green: #43a047;

$main-light: #fff;

$main-dark: #212121;
$main-grey: #424242;
$middle-grey: #757575;
$light-grey-a: #9e9e9e;
$light-grey-c: #bdbdbd;
$light-grey-e: #eee;

$amber: #ffb300;
$deep-orange: #f4511e;
$teal: #009688;
$blue: #039be5;
$light-green: #dcedc8;
$light-blue: #b3e5fc;
$blue-grey: #90a4ae;
$brown: #795548