$nav-button-color: #00838F;

$main-blue: #002a5e;
$light-blue: #004699;
$dark-blue: #001D3F;

$main-yellow: #907000;
$light-yellow: #E9B600;
$alt-yellow: #BB9200;
$dark-yellow: #614C00;

$main-red: #BB4300;

$main-light: #fff;

$main-dark: #000;
