<i *ngIf="bestTime"
    class="team-card__bestTimeIcon fa fa-trophy fa-lg"
    matTooltip="Лучший результат на уровне">
</i>
<span *ngIf="place"
    class="team-card__teamPlace"
    [ngClass]="{
      'team-card__teamPlace--first': place === 1,
      'team-card__teamPlace--second': place === 2,
      'team-card__teamPlace--third': place === 3
    }"    
    matTooltip="Место">
    {{ place }}
</span>
<p class="team-card__name mb-0"> {{ name }} </p>
<p *ngIf="timeout" class="team-card__timeout">
  Таймаут
</p>
<p class="team-card__duration"> {{ duration | formatDuration }} </p>
<p class="team-card__time"> {{ levelTime | formatDateTime: 'time' }} </p>
<p *ngIf="additionsTime" class="team-card__additionalTime"
    [ngClass]="{
      'team-card__additionalTime--bonus': additionsTime > 0,
      'team-card__additionalTime--penalty': additionsTime < 0
    }">
  {{ additionsTime | formatDuration }}
</p>
