@import './../../../../styles/variables';
@import './../../../../styles/mixins';

.c-monitoring-codes {
  font-size: 12px;
  @include desktop {
    font-size: 14px;
  }
  .mat-row,
  .mat-header-row {
    padding: 0 6px;
    @include desktop {
      padding: 0 12px;
    }
  }
  .mat-header-row {
    min-height: 36px;
    @include desktop {
      min-height: 56px;
    }
  }
  .mat-header-cell {
    font-size: 10px;
    @include desktop {
      font-size: 14px;
    }
  }
  .mat-row {
    min-height: 28px;
    @include desktop {
      min-height: 48px;
    }
  }

  .mat-column-code {
    flex: 2;
    @include desktop {
      flex: 4;
    }
  }
  .mat-column-player {
    flex: 2;
    @include desktop {
      flex: 1;
    }
  }
  .mat-cell {
    font-size: 12px;
    @include desktop {
      font-size: 14px;
    }
  }
  &__playerName {
    color: $main-grey;
  }
  &__code {
    color: $main-dark;

    &--success {
      color: $main-green;
    }
    &--timeout {
      color: $deep-orange;
    }
    &--duplicate {
      color: $light-grey-a;
      font-style: italic;
    }
  }
  &__time {
    color: $middle-grey;
  }
  &__timeDiff {
    color: $middle-grey;
  }
}
