<div class="total-table">
  <mat-tab-group (selectChange)="changeTab($event)">
    <mat-tab *ngFor="let type of availableTypes"
        [label]="type">
      <ng-template mat-tab-label>
        <i class="total-table__icon fa fa-lg"
            [ngClass]="[getLevelTypeIcon(type)]"
            [matTooltip]="getLevelTypeName(type)"
            aria-hidden="true">
        </i>
        {{ getLevelTypeName(type) }}
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="total-table__team-container">
    <mat-card *ngFor="let team of sortedTeams; let idx = index"
        class="total-table__team">
      <span class="total-table__team-position">{{ idx + 1 }}. </span>
      <span class="total-table__team-total-position" matTooltip="Позиция в общей статистике">({{ getTeamTotalPosition(team) }}) </span>
      <span class="total-table__team-name">{{ team.name }}</span>
      <span class="total-table__team-time">{{ team.duration | formatDuration }}</span>
      <span class="total-table__team-prev-difference" 
          [ngClass]="getPrevTeamDifferenceClass(team, idx)"
          matTooltip="Отставание от предыдущей команды">
        {{ getPrevTeamDifferenceTime(team, idx) }}
      </span>
      <span class="total-table__team-leader-difference" matTooltip="Отставание от лидера">{{ getLeaderDifference(team, idx) }}</span>
    </mat-card>
  </div>
</div>