@import './../../../../../styles/mixins';
@import './../../../../../styles/variables';

.total-table {
  margin-top: -20px;
  &__icon {
    margin-right: 5px;
  }

  &__team-container {
    display: flex;
    flex-direction: column;
  }

  &__team {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 8px;
    margin: 8px 0;
  }

  &__team-position {
    flex: 0 1 30px;
  }
  &__team-total-position {
    color: $middle-grey;
    flex: 0 1 50px;
  }
  &__team-name {
    flex: 2 1 calc(100% - 80px);

    @include tablet {
      flex: 2 1 auto;
    }

    @include desktop {
      flex: 2 1 auto;
    }
  }
  &__team-time,
  &__team-prev-difference,
  &__team-leader-difference {
    flex: 0 1 33%;
    font-size: 14px;
    margin: 10px 0 0;
    text-align: right;

    @include tablet {
      flex: 0 1 150px;
      font-size: 16px;
      margin: 0;
    }
    @include desktop {
      flex: 0 1 150px;
      font-size: 16px;
      margin: 0;
    }
  }
  &__team-prev-difference {
    &--lessThanSecond {
      color: $teal;
    }
    &--lessThanMinute {
      color: $amber;
    }
    &--lessThanHour {
      color: $light-red;
    }
    &--moreThanHour {
      color: $main-red;
    }
  }
  &__team-leader-difference {
    color: $light-red;
  }
}
