<div class="c-monitoring">
  <mat-accordion class="c-monitoring__accordion">
    <ng-template ngFor
        [ngForOf]="totalData$ | async"
        let-team>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="c-monitoring__accordion-title">
            {{ team.name }}
          </mat-panel-title>
          <mat-panel-description class="c-monitoring__accordion-description">
            Всего введено кодов: {{ team.data.allEntries }}, из них правильных {{ team.data.correct }}. Процент "успешности" {{ team.data.percent | number }}%
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-accordion class="c-monitoring__accordion">
            <ng-template ngFor
                [ngForOf]="teamData$ | async | getProp:team.name:false"
                let-teamData
                let-idx="index">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="c-monitoring__accordion-title">
                    Уровень {{ idx + 1 }}
                  </mat-panel-title>
                  <mat-panel-description class="c-monitoring__accordion-description">
                    Введено кодов на уровне: {{ teamData.allEntries }}, из них правильных {{ teamData.correct }}. Процент "успешности" {{ teamData.percent | number }}%
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template ngFor
                    [ngForOf]="teamData.codes"
                    let-code>
                  <p>{{ code.user }} - {{ code.code }} - {{ code.time | formatDateTime }}</p>
                </ng-template>
              </mat-expansion-panel>
            </ng-template>
          </mat-accordion>
        </ng-template>
      </mat-expansion-panel>
    </ng-template>
  </mat-accordion>
</div>

