@import '../../../styles/variables';

.level-card {
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  color: $main-grey;
  font-size: 10px;
  margin: 0 3px;
  min-height: 80px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  width: 114px;

  &--Logic {
    border-bottom-color: $amber;
  }
  &--Search {
    border-bottom-color: $blue;
  }
  &--Drive {
    border-bottom-color: $teal;
  }
  &--Agent {
    border-bottom-color: $brown;
  }
  &--Waiting {
    border-bottom-color: $blue-grey;
  } 

  &--dismised {
    color: $light-grey-a;
    border-bottom-color: $light-grey-a;
  }

  &__typeButton {
    height: 24px;
    line-height: 24px;
    width: 24px;
  }

  &__menuButton {
    height: 30px;
    line-height: 24px;
    padding: 0 10px;

    .level-card__levelType {
      margin-left: 10px;
      width: 24px;
    }
  }

  &__iconContainer {
    display: flex;
    margin-bottom: 10px;
  }

  &__icon {
    flex-grow: 1;

    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }

  &__levelType {
    &--General {
      color: $light-green;
    }
    &--Logic {
      color: $amber;
    }
    &--Search {
      color: $blue;
    }
    &--Drive {
      color: $teal;
    }
    &--Agent {
      color: $brown;
    }
    &--Waiting {
      color: $blue-grey;
    }
  }

  &__levelStatus {
    color: $light-blue;

    &--dismissed {
      color: $light-grey-a;
    }
  }

  &__levelEdit {
    color: $dark-main;
  }
}